<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <div id="app">
            <h1 v-if="tempoBello">Vado al mare</h1>
            <h1 v-else>Resto a casa</h1>

            <h2 v-show="possoGuidare()">Posso guidare la macchina</h2>

            <button @click="toggleMenu()">Menu</button>

            <ul v-show="menuAperto">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>

            <ul>
                <li v-for="(elm, index) in studenti" @click="saluta(index)">{{index}} {{elm.name}} <span v-show="elm.showSurname">{{elm.surname}}</span></li>
            </ul>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>